<section class="introduction mt-5">
  <h1 class="mb-5" id="introduction">Introduction</h1>
  <div class="topic">
    <h2 class="mb-3">What is Maya JS?</h2>
    <p class="content">
      <app-maya-text mayaTxt="maya"></app-maya-text> is a NodeJS framework for creating RESTful API application that follows the same syntax architecture of Angular.
    </p>
  </div>
  <div class="topic">
    <h2 class="mb-3" id="overview">Overview</h2>
    <p class="content">
      Mayajs is an ecosystem consist of several npm packages. All this packages are maintained by
      <a href="" class="link">Mayajs Core Team</a>.
    </p>
    <ul class='content'>
      <li *ngFor="let package of packages">
        <a href="{{ package.url }}" class="link">{{ package.name }}</a> - <span>{{ package.description }}</span>
      </li>
    </ul>
  </div>
  <div class="topic">
    <h4 class="mb-3" id="installation">Installation</h4>
    <p class="content">
      The first thing we need to do is to install <app-maya-text mayaTxt="cli"></app-maya-text> globally in your local machine for project scaffolding.
    </p>
    <p class="content code bg-dark">
      <code class="text-warning">npm i @mayajs/cli -g</code>
    </p>
    <p class="content">
      After installing the CLI we need to check if <app-maya-text mayaTxt="maya"></app-maya-text> is recognized by the machine. This command will show the
      current version of mayajs installed in your machine.
    </p>
    <div class="content code bg-dark">
      <code class="text-warning">
        maya -v
        <br />
        0.6.3
      </code>
    </div>
    <p class="content">
      Now that you have confirmed that MayaJS CLI is installed, you are now ready to start your REST API Project.
    </p>
  </div>
  <hr /> 
  <div class="row justify-content-end pr-2 mb-5">
    <div class="col-md-6 text-right">
      <p class="m-0"><b>NEXT ></b></p>
      <h4 class="text-right"><a routerLink="/get-started/games-api" class="next">Getting Started with Games API Project</a></h4>
    </div>
  </div> 
</section>
