<section class="introduction mt-5">
  <h1 class="mb-5" id="introduction">GAMES API Project Walkthrough</h1>
  <div class="topic">
    <h2 class="mb-3">Phase 2: Project Setup</h2>
  </div>
  <div class="topic">
    <h3>Overview of Controllers and Services</h3>
    <p class="content">
      Before we proceed to make changes in the boilerplate, let's explore the structure of the two files namely <span class='font-italic'>sample.service.ts</span> and <span class='font-italic'>sample.controller.ts</span>
    </p>
    <div class="content code bg-dark">
      <app-code-block code="sampleService"></app-code-block>  
    </div>
    <div class="content code bg-dark">
      
    </div>
  </div>
  <div class="row justify-content-between pr-2 mb-5">
    <div class="col-md-6 text-left previous">
      <p class="m-0"><b>< PREVIOUS</b></p>
      <h4 class="text-left"><a routerLink="/get-started/games-api">Phase 1: Project Initialization by Scaffolding</a></h4>
    </div>
    <div class="col-md-6 text-right next">
      <p class="m-0"><b>NEXT ></b></p>
      <h4 class="text-right"><a routerLink="/get-started/databases">Phase 3: </a></h4>
    </div>
  </div>
</section>

