/* You can add global styles to this file, and also import other style files */
$colors: (primary: #dd1f02,
  secondary: #000,
  paragraphs: #5e5e5e,
  light: #eeeeee,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

.bgTheme-{
  &primary{
    background-color: color(primary);
  }
  &secondary{
    background-color: color(secondary);
  }
  &paragraphs {
    background-color: color(paragraphs);
  }
  &light{
    background-color: color(light);
  }
}

.textTheme-{
  &primary{
    color: color(primary);
  }
  &secondary{
    color: color(secondary);
  }
  &paragraphs{
    color: color(paragraphs);
  }
  &light{
    color: color(light);
  }
}

body,
html {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  background-color: #ffc1c1;
  width: .5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(129, 129, 129, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ff7b7b;
  outline: 1px solid slategrey;
}
.textarea {
  background: #d6d6d64d !important;
}

.code-comment{
  color:#afafaf;
}
