<code [ngSwitch]="code">
  <ng-container *ngSwitchCase="'mainIndex'">
    <pre class="text-warning">
      {{sourceCode.mainIndex}}
    </pre>
  </ng-container>
  <ng-container *ngSwitchCase="'sampleService'">
    <pre class="text-warning m-0">
      {{sourceCode.sampleService}}
    </pre>
  </ng-container>
  <ng-container *ngSwitchCase="'sampleController'">
    <pre class="text-warning m-0">
      {{sourceCode.sampleController}}
    </pre>
  </ng-container>
  <ng-container *ngSwitchCase="'gameModel'">
    <pre class="text-warning">
      {{sourceCode.gameModel}}
    </pre>
  </ng-container>
  <ng-container *ngSwitchCase="'mongo'">
    <pre class="text-warning">
      {{sourceCode.mongo}}
    </pre>
  </ng-container>
</code>